a{
    margin-left: 20px;
    color: #000;
    text-decoration: none;
}
a:hover{
    background-color: #ededed;
    padding: 15px;
    font-weight: 600;
}
nav{
    background-color: #8cd94d;
    padding: 15px;
    text-align: center;

}
.btn{
    background-color: #6db82f;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
}
.log-btn{
    background-color: #6db82f;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
}